.container {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.app {
  padding: 1rem;
  width: 600px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.app-title {
  margin-top: 0;
}

.app-search {
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}
